* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  background: #C9D6FF;
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}
input.form-control::placeholder {
  opacity: .5;
}
.action-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}
.todo-item:hover .todo-actions {
  display: block;
}
.todo-item {
  padding: 20px;
  font-size: 1.3rem;
}
.delivered-date {
  font-size: 0.9rem;
}
.edit-input {
  border: 1px solid lightgray;
  font-size: 1.3rem;
}
.edit-input:focus {
  outline: none;
}
.completed-text {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
.todo-actions {
  display: none;
}
.filter {
  cursor: pointer;
}
.active {
  font-weight: bold;
}
.footer-pipe::after {
  content: " | ";
}
